body, html {
  font-family: 'Roboto', sans-serif;
  background-color: $body-bg;
  color: $body-text;
}

.wrap {
  overflow: scroll;
  margin: 0 auto;
  display: block;
}

.navbar-brand {
  height: auto;
}

.site-title {
  line-height: 35px;
}
