body, html {
  font-family: 'Roboto', sans-serif;
  background-color: $body-bg;
  color: $body-text;
}

.wrap {
  width: 700px;
  margin: 0 auto;
  display: block;
}

.navbar-brand {
  height: auto;
}