.hacky-margin-top {
  margin-top: 40px;
}

.hacky-margin-bottom {
  margin-bottom: 40px;
}

.hacky-small-margin-bottom {
  margin-bottom: 10px;
}

.force-line-height {
  line-height: 2.4;
}

circle {
  stroke: $light-orange;
  fill: $mid-orange;
  cursor: pointer;
}

.area {
  fill:rgba($mid-orange, 0.4);

  &.AvgTemp {
    // fill: rgba($blue, 0.3);
  }
}

.axis {
  text {
    // display: none;
    fill: $dark-brown;
  }
}

.axis path,
.axis line {
    fill: none;
    stroke: $light-purple;
    shape-rendering: crispEdges;
}

.yaxis path {
  fill: none;
  stroke: $light-purple;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 14px;
}

.line {
  fill: none;
  stroke: $light-brown;
  stroke-width: 1.5px;
  transition: stroke .2s;

  &.totalBikes {
    stroke: $light-orange;

    &.fader {
      // stroke: rgba($blue, .2);
    }
  }

  &.fader {
    stroke: rgba($mid-orange, .2);
  }


}

.grid .tick {
    stroke: rgba($light-orange,1);
    opacity: 0.2;
}
.grid path {
    stroke-width: 0;
}

span#debug-info {
  font-weight: normal;
}
