.hacky-margin-top {
  margin-top: 40px;
}

.hacky-margin-bottom {
  margin-bottom: 40px;
}

.hacky-small-margin-bottom {
  margin-bottom: 10px;
}

.force-line-height {
  line-height: 2.4;
}

circle {
  stroke: $circle-outer;
  fill: $circle-inner;
  cursor: pointer;
}

.area {
  fill:rgba($area, 0.4);

  &.AvgTemp {
    // fill: rgba($blue, 0.3);
  }
}

path.bike {
  stroke:$bike-graph-line;
  fill:  $body-bg;
}

.axis {
  text {
    // display: none;
    fill: $text;
  }
}

.axis path,
.axis line {
    fill: none;
    stroke: $axes;
    shape-rendering: crispEdges;
}

.yaxis path {
  fill: none;
  stroke: $axes;
  shape-rendering: crispEdges;
  display: none;
}

.axis text {
  font-size: 14px;
}

.line {
  fill: none;
  stroke: $temp-graph-line;
  stroke-width: 1.5px;
  transition: stroke .2s;

  &.totalBikes {
    stroke: $bike-graph-line;
  }
}

.grid .tick {
    stroke: $grid;
    opacity: 0.2;
}
.grid path {
    stroke-width: 0;
}

span#debug-info {
  font-weight: normal;
}
