$toggle-width: 50px;
$border-width: 2px;

.toggle {
  display: inline-block;
  width: $toggle-width;
  height: $toggle-width/2;
  border: $border-width solid $axes;
  border-radius: $toggle-width/2;
  transition : border 200ms ease;
  transition : background-color 300ms ease;
  background-color: white;
  position: relative;
  cursor: pointer;

  &:after {
    display: block;
    content: '';
    width: ($toggle-width/2) - ($border-width * 4);
    height: ($toggle-width/2) - ($border-width * 4);
    background-color: $axes;
    top: $border-width;
    left: $border-width;
    position: absolute;
    border-radius: 50%;
    transition : all 200ms ease;
  }

  &.active {
    border-color: $area;

    &:after {
      background-color: $area;
      left: $toggle-width/2 + $border-width/2;
    }
  }
}

.toggle-wrap {
  float: right;

  .loading & {
    display: none;
  }
}

.toggle-label {
  position: relative;
  top: -7px;
  margin: 10px;
  opacity: .4;
  transition : opacity 200ms ease;

  &.active {
    opacity: 1;
  }
}
